.loot-boxes-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
}

.loot-box-list {
    display: flex;
    text-align: center;
}

.loot-box-list img {
    width: 150px;
}

.loot-box {
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.loot-box:hover {
    transform: translateY(-5px);
}

.loot-box button {
    background-color: var(--tiger-eye);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loot-box button:hover {
    background-color: var(--dark-moss-green);
    border: solid 1px white;

}

.loot-box button.active {
    border: solid 1px white;
    
}


