.loot-boxes-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
}

.loot-box-list {
    flex-wrap: wrap;
    gap: 20px;
}

.loot-box {
    border: solid 1px black;
    text-align: center;
    padding-bottom: 10px;
    background-color: gray;
}


.loot-box img {
    width: 150px;
    height: auto;
}

.loot-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loot-box button:hover {
    background-color: #0056b3;
}
